@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --primary: #2E5751;
  --secondary: #FBD3C6;
  --accent: #D2E5D0;
  --dark: #2E2E2E;
  --light: #EDE5DE;
}

html, body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}